# Ignore virtual environment directory
venv

# Ignore password.txt file in the registration directory
sportsio/registration/password.txt

# Ignore staticfiles directory
sportsio/staticfiles

# Ignore media directory
sportsio/media

# Ignore the static directory within the sportsio directory
sportsio/static

sportsio/registration/__pycache__

sportsio/userprofile/__pycache__

# My email and  password
.env


