{% extends 'admin_side/base.html' %}
{% block content %}
      <!--  Header End -->
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Add Category</h5>
              <div class="card mb-0">
                <div class="card-body p-4">
                    <div class="container">
                        <!-- Form with Bootstrap Alerts -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Brand_Name:</label>
                                <input type="text" class="form-control" id="name" name="brand">
                            </div>
                            <div class="mb-3">
                                <label for="logo" class="form-label">Brand Logo:</label>
                                <input type="file" class="form-control" id="logo" name="logo">
                            </div>

                
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger">
                                <a href="" style="color: white; text-decoration: none;">
                                    Back
                                </a>
                            </button>
                            </a>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}