{% extends "admin_side/base.html"%}
{% block content%}
<style>
    .btn-custom {
        width: 90px; /* Fixed width */
        height: 30px; /* Fixed height */
        margin: 10px; /* Optional: Adds space around the buttons */
        text-align: center!important; 
        
    }
    select.form-control {
        width: 80px; /* Ensures the select fills the td */
        border: 1px solid #000!important; /* Custom border style */
        height:30px;
        text-align:center;
        font-size:10px;
        padding:0px;
        
    }
    
</style>
<div class="card">
    <div class="card-body p-4">

    <h2 class="card-title">Order Management</h2>
   
        <table style="text-align:center;border:5px transparent !important;" class="table table-bordered">
            <thead>
                <tr class="table-active">
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Estimated Delivery Time</th>
                    <th>Tracking Number</th>
                    <th>Order Price</th>
                    <th>Order Notes</th>
                    <th>Status</th>
                    <th>Action</th>
                
                </tr>
            </thead>
            <tbody style="justify-contents:center;">
                {% for order in orders %}
                <tr class="{% if order.status == "Cancelled"%} table-danger {%elif order.status == "Delivered"%} table-success {% elif order.status == "Return"%} table-warning  {% elif order.status == "Refunded"%} table-info {% endif %} ">
                    <td>{{ order.id }}</td>
                    <td>{{ order.user|truncatewords:1 }}</td>
                    <td style="width:200px;">{{ order.address.street }}, {{ order.address.city }}, {{ order.address.state }}</td>
                    <td>{{ order.estimated_delivery_time }}</td>
                    <td>{{ order.tracking_number }}</td>
                    <td>
                        ₹ {{ order.total_price }}
                    </td>
                    <td style="width:100px;">{{ order.order_notes }}</td>
                    

                    <td>
                        <form action="{% url 'update_status' order.id %}" method="post">
                            {% csrf_token %}
                            <select class="form-control"  name="new_status" id="newStatusSelect">
                                <option value="Pending" {% if order.status == "Pending" %} selected {% endif %}>Pending</option>
                                <option value="Processing" {% if order.status == "Processing" %} selected {% endif %}>Processing</option>
                                <option value="Shipped" {% if order.status == "Shipped" %} selected {% endif %}>Shipped</option>
                                <option value="Delivered" {% if order.status == "Delivered" %} selected {% endif %}>Delivered</option>
                                <option value="Out of delivery" {% if order.status == "Out of delivery" %} selected {% endif %}>Out of delivery</option>
                                <option value="Cancelled" {% if order.status == "Cancelled" %} selected {% endif %}>Cancelled</option>
                                <option value="Return" {% if order.status == "Return" %} selected {% endif %}>Return</option>
                                <option value="Refunded" {% if order.status == "Refunded" %} selected {% endif %}>Refunded</option>
                            </select>
                            
                            {% if order.status != "Cancelled" and order.status != "Return" and order.status != "Refunded" %}
                            <button style="margin-top:5px;" type="submit" class="btn btn-sm btn-primary">Status</button>
                            {%endif%}
                        </form>
                    </td>
                    <td>
                        <div class="action">
                            {% if order.status == "Return" or order.status == "Cancelled" and order.paid == True %}
                            <a href="{% url 'refund_order' order.id %}" class="btn btn-sm btn-primary btn-custom">Refund</a>
                            {% elif order.status == "Return" or order.status == "Cancelled" or order.status == "Refunded" %}
                            <span>Return and Refunded</span>
                            {% else %}
                            <a href="{% url 'update_order_details' order.id %}" class="btn btn-sm btn-primary btn-custom">Update</a>
                            {% endif %}
                            <a style="margin-top:5px;" href="{% url 'admin_order_view' order.id%}" class="btn btn-sm btn-primary btn-custom">View</a>
                        </div>
                    </td>
                    
                    
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
      var newStatusSelect = document.getElementById('newStatusSelect');
      var updateStatusBtn = document.getElementById('updateStatusBtn');

      newStatusSelect.addEventListener('change', function() {
          var selectedValue = this.value;
          if (selectedValue === 'Cancelled' || selectedValue === 'Return' || selectedValue === 'Refunded') {
              updateStatusBtn.style.display = 'none';
          } else {
              updateStatusBtn.style.display = 'block';
          }
      });
  });
</script>
{% endblock %}