
 {% extends 'admin_side/base.html' %}  

    {% block content %}   

    {% comment %} Product Image view size {% endcomment %}
  <style>
      .product-image {
          width: 1.5in; /* Set the width to 8 inches */
          height: 1in; /* Set the height to 10 inches */
      }
  </style>


    
 
  <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title fw-semibold mb-4">Products Management</h5>
        <button type="button" class="btn btn-success">
            <a href="{% url 'add_product' %}" style="color: white; text-decoration: none;">Add Product</a>
        </button>
  </div>
        <div class="table-responsive"> <!-- Add this div to make the table responsive -->
            <table class="table table-bordered">
                <thead>
                  <tr style="align-items: center;">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Brand</th>
                        <th>Status</th>
                        <th>Stock Count</th>
                        <th>Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr style="align-items: center;">
                        <td style="vertical-align: middle;"><img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-image "></td>
                        <td style="vertical-align: middle;">{{ product.title|truncatewords:5}}</td>
                        <td style="vertical-align: middle;">{{ product.category }}</td>
                        <td style="vertical-align: middle;">{{ product.description|truncatewords:2 }}</td>
                        <td style="vertical-align: middle;">{{ product.price }}</td>
                        <td style="vertical-align: middle;">{{ product.brand }}</td>
                        <td style="vertical-align: middle;">{{ product.status }}</td>
                        <td style="vertical-align: middle;">{{ product.stock_count }}</td>
                        <td style="vertical-align: middle;">{{ product.is_active }}</td>
                        <td style="vertical-align: middle;">{{ product.featured }}</td>
                        <td style="vertical-align: middle;">{{ product.offer_price }}</td>
                        <td style="vertical-align: middle;">
                          <div class="d-flex align-items-center">
                              <a href="{% url 'edit' product.id %}" class="btn btn-info mr-2" role="button">Update</a>
                              {% if product.is_active %}
                                  <a href="{% url 'block_product' product.id %}" class="btn btn-warning mr-2" role="button">Block</a>
                              {% else %}
                                  <a href="{% url 'unblock_product' product.id %}" class="btn btn-success mr-2" role="button">Unblock</a>
                              {% endif %}
                              <a href="{% url 'delete_product' product.id %}" class="btn btn-danger" role="button">Delete</a>
                          </div>
                      </td>
                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- Close the table-responsive div -->
       
    </div> <!-- Close the card-body div -->


                
     


  
    {% endblock %}
       