
 {% extends 'admin_side/base.html' %}  
    {% block content %}    
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title fw-semibold mb-4">User Management</h5>
            </div>
            <div class="table-responsive"> <!-- Add this div to make the table responsive -->
              <table class="table table-bordered">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Username</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Email</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            
              <tbody>
                {% for data in user %} 
                <tr>
                  <!-- <th scope="row"></th> -->
                  <td>{{ data.id }}</td>
                  <td>{{ data.username }}</td>
                  <td>{{ data.first_name }}</td>
                  <td>{{ data.last_name }}</td>
                  <td>{{ data.email }}</td>
                  <td>{{ data.phone }}</td>
                  
                  <td>
                    <div class="d-flex align-items-center">
                    {% if data.is_active %}
                    
                    <a class="btn btn-sm btn-danger" href="{% url 'block_status' user_id=data.id %}" >Block</a>
                  {% else %}
                  <a class="btn btn-sm btn-success" href="{% url 'unblock_status' user_id=data.id %}">Unblock</a>
                   {% endif %}
                   <a class="btn btn-sm btn-danger" href="{% url 'delete_user' user_id=data.id %}">Delete</a>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
            
          </table>
        </div>
      </div>
    {% endblock %}
       