{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    
   
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{%block title%}Home | Sportsio{%endblock%}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/user_side/images/favicon.icon'%}">

    <!-- CSS
	============================================ -->
    <!-- JQUERY-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/vendor/bootstrap.min.css'%}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/vendor/font-awesome.css'%}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/vendor/fontawesome-stars.css'%}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/vendor/ion-fonts.css'%}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/plugins/slick.css'%}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/plugins/animate.css'%}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/plugins/jquery-ui.min.css'%}">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/plugins/lightgallery.min.css'%}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/plugins/nice-select.css'%}">
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'assets/user_side/css/style.css'%}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area header-main_area-2 bg--black">
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-2 col-md-3 col-sm-5">
                            <div class="header-logo_area">
                                <a href="{% url 'home'%}">
                                    <img style="width:200px;" src="{% static 'assets/user_side/images/menu/logo/1.png'%}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>

                        <!-- Search Div Start Here -->
                        <div class="col-xl-5 col-lg-6 d-none d-lg-block">
                            <div class="hm-form_area">

                                <!-- Search Form Start Here -->

                                <form action="{% url 'user_side:product_search' %}" method="POST" class="hm-searchbox">
                                    {% csrf_token %}
                                    <input type="text" name="searched" placeholder="Enter your search key ..." value="{{ query }}">
                                    <button class="header-search_btn" type="submit"><i
                                        class="ion-ios-search-strong"><span>Search</span></i></button>
                                </form>

                                <!-- Search End Here -->

                            </div>
                        </div>
                        <!-- Search Div End Here -->

                        <div class="col-lg-4 col-md-9 col-sm-7">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    
                                    <li class="minicart-wrap">
                                        <a href="{% url 'user_profile:cart_view' %}" class="minicart-btn ">
                                            <div class="minicart-count_area">
                                                {% if user.is_authenticated %}
                                                <span class="item-count">{{ cart_count }}</span>
                                                {% endif%}
                                                
                                                <i class="ion-bag"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>Cart</span>
                                                
                                            </div>
                                        </a>
                                    </li>
                                    <!-- Wishlist -->
                                    <li class="minicart-wrap">
                                        <a href="{% url 'user_profile:wishlist_view' %}" class="minicart-btn ">
                                            <div class="minicart-count_area">
                                                <i class="ion-android-favorite"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>Wishlist</span>
                                                
                                            </div>
                                        </a>
                                    </li>
                                        
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-category_col col-12">

                            <!-- Shop By Category Start Here-->
                            <a href="{% url "user_side:shopbycat"%}">
                            <div class="category-menu">
                                <div class="category-heading">
                                    <h2 class="categories-toggle">
                                        <span>Shop By</span>
                                        <span>Category</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </a>
                        <div class="custom-menu_col col-12 d-none d-lg-block">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder {% if request.resolver_match.url_name == 'home' %} active {% endif %}"><a href="{% url 'home' %}">Home</a>
                                        </li>
                                  
                                        <li class="dropdown-holder {% if request.resolver_match.url_name == 'product_list' %} active {% endif %}"><a href="{% url 'user_side:product_list' %}">Products</a></li>
                                        <li class=""><a href="javascript:void(0)">Pages <i
                                                class="ion-ios-arrow-down"></i></a>
                                            <ul class="hm-dropdown">
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'user_profile:user_profile'%}">My Account</a></li>
                                                <li><a href="{% url 'user_profile:wishlist_view' %}">Wishlist</a></li>
                                                <li><a href="{% url 'user_profile:cart_view'%}">Cart</a></li>
                                                {% else %}
                                                <li><a href="{% url 'register'%}">Login | Register</a></li>
                                                {%endif%}
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class=""><a href="about-us.html">About Us</a></li>
                                        <li class=""><a href="contact.html">Contact</a></li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="custom-setting_col col-12 d-none d-lg-block">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>

                                        <!-- My Account Area Start Here -->

                                        <li><a href="{% url 'user_profile:user_profile' %}"><span class="fa fa-user" ></span> 
                                            <span>My Account</span><i class="fa fa-chevron-down"></i></a>
                                            <ul class="ht-dropdown ht-my_account">
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'logout_view'%}">Logout</a></li>
                                                {% else %}
                                                <li><a href="{% url 'login'%}">Login</a></li>
                                                <li ><a href="{% url 'register'%}">Register</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="custom-search_col d-none d-md-block d-lg-none">
                                    <input type="text" placeholder="Enter your search key ...">
                                    <button class="header-search_btn" type="submit"><i
                                        class="ion-ios-search-strong"><span>Search</span></i></button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <div class="header-top_area header-sticky bg--black">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class="dropdown-holder active"><a href="{% url 'home' %}">Home</a>
                                        </li>
                                  
                                        <li><a href="{% url 'user_side:product_list' %}">Products</a></li>
                                        <li class=""><a href="javascript:void(0)">Pages <i
                                                class="ion-ios-arrow-down"></i></a>
                                            <ul class="hm-dropdown">
                                                {% if user.is_authenticated %}
                                                <li><a href="{% url 'user_profile:user_profile'%}">My Account</a></li>
                                                <li><a href="{% url 'user_profile:wishlist_view' %}">Wishlist</a></li>
                                                <li><a href="{% url 'user_profile:cart_view'%}">Cart</a></li>
                                                {% else %}
                                                <li><a href="{% url 'register'%}">Login | Register</a></li>
                                                {%endif%}
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class=""><a href="about-us.html">About Us</a></li>
                                        <li class=""><a href="contact.html">Contact</a></li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-3 d-block d-lg-none">
                            <div class="header-logo_area header-sticky_logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/user_side/images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-9">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
                                    <li class="minicart-wrap">
                                        <a href="{% url 'user_profile:cart_view' %}" class="minicart-btn ">
                                            
                                            <div class="minicart-count_area">
                                                {% if user.is_authenticated %}
                                                <span class="item-count">{{ cart_count }}</span>
                                                {% endif%}
                                                <i class="ion-bag"></i>
                                            </div>
                                            
                                            <div class="minicart-front_text">
                                                <span>Cart</span>
                                               
                                            </div>
                                        </a>
                                    </li>
                                   
                                    <!-- Wishlist -->
                                    <li class="minicart-wrap">
                                        <a href="{% url 'user_profile:wishlist_view' %}" class="minicart-btn ">
                                            <div class="minicart-count_area">
                                                <i class="ion-android-favorite"></i>
                                            </div>
                                            <div class="minicart-front_text">
                                                <span>Wishlist</span>
                                                
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            {% block content %}






            {%endblock content%}
        </div>
    </div>
</div>
</div>
</div>
             <!-- Begin Uren's Footer Area -->
        <div class="uren-footer_area">
            <div class="footer-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="footer-widgets_info">
                                <div class="footer-widgets_logo">
                                    <a href="#">
                                        <img src="{% static 'assets/user_side/images/menu/logo/1.png'%}" alt="Uren's Footer Logo">
                                    </a>
                                </div>
                                <div class="widget-short_desc">
                                    <p>We are a team of designers and developers that create high quality HTML Template &
                                        Woocommerce, Shopify Theme.
                                    </p>
                                </div>
                                <div class="widgets-essential_stuff">
                                    <ul>
                                        <li class="uren-address"><span>Address:</span> The Barn,
                                            Ullenhall, Henley
                                            in
                                            Arden B578 5CC, England</li>
                                        <li class="uren-phone"><span>Call
                                        Us:</span> <a href="tel://+123123321345">+123 321 345</a>
                                        </li>
                                        <li class="uren-email"><span>Email:</span> <a href="mailto://info@yourdomain.com">info@yourdomain.com</a></li>
                                    </ul>
                                </div>
                                <div class="uren-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="footer-widgets_area">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Information</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">About Us</a></li>
                                                <li><a href="javascript:void(0)">Delivery Information</a></li>
                                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                                <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Customer Service</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">Contact Us</a></li>
                                                <li><a href="javascript:void(0)">Returns</a></li>
                                                <li><a href="javascript:void(0)">Site Map</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>Extras</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">About Us</a></li>
                                                <li><a href="javascript:void(0)">Delivery Information</a></li>
                                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                                <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="footer-widgets_title">
                                            <h3>My Account</h3>
                                        </div>
                                        <div class="footer-widgets">
                                            <ul>
                                                <li><a href="javascript:void(0)">My Account</a></li>
                                                <li><a href="javascript:void(0)">Order History</a></li>
                                                <li><a href="javascript:void(0)">Wish List</a></li>
                                                <li><a href="javascript:void(0)">Newsletter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom_area">
                <div class="container-fluid">
                    <div class="footer-bottom_nav">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="copyright">
                                    <span><a href="templateshub.net">Templateshub</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="payment">
                                    <a href="#">
                                        <img src="{%static 'assets/user-side/images/footer/payment/1.png'%}" alt="Uren's Payment Method">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Footer Area End Here -->
        <!-- Begin Uren's Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area sp-area row">
                            <div class="col-lg-5">
                                <div class="sp-img_area">
                                    <div class="sp-img_slider slick-img-slider uren-slick-slider" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                    }'>
                                        <div class="single-slide red">
                                            <img src="{% static 'assets/user_side/images/product/large-size/1.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                        <div class="single-slide orange">
                                            <img src="{% static 'assets/user_side/images/product/large-size/2.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                        <div class="single-slide brown">
                                            <img src="{% static 'assets/user_side/images/product/large-size/3.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                        <div class="single-slide umber">
                                            <img src="{% static 'assets/user_side/images/product/large-size/4.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                        <div class="single-slide black">
                                            <img src="{% static 'assets/user_side/images/product/large-size/5.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                        <div class="single-slide golden">
                                            <img src="{% static 'assets/user_side/images/product/large-size/6.jpg'%}" alt="Uren's Product Image">
                                        </div>
                                    </div>
                                    <div class="sp-img_slider-nav slick-slider-nav uren-slick-slider slider-navigation_style-3" data-slick-options='{
                                   "slidesToShow": 4,
                                    "asNavFor": ".sp-img_slider",
                                   "focusOnSelect": true,
                                   "arrows" : true,
                                   "spaceBetween": 30
                                  }' data-slick-responsive='[
                                    {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                    {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                    {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                ]'>
                                        <div class="single-slide red">
                                            <img src="{% static 'assets/user_side/images/product/small-size/1.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                        <div class="single-slide orange">
                                            <img src="{% static 'assets/user_side/images/product/small-size/2.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                        <div class="single-slide brown">
                                            <img src="{% static 'assets/user_side/images/product/small-size/3.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                        <div class="single-slide umber">
                                            <img src="{% static 'assets/user_side/images/product/small-size/4.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                        <div class="single-slide black">
                                            <img src="{% static 'assets/user_side/images/product/small-size/5.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                        <div class="single-slide golden">
                                            <img src="{% static 'assets/user_side/images/product/small-size/6.jpg'%}" alt="Uren's Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6">
                                <div class="sp-content">
                                    <div class="sp-heading">
                                        <h5><a href="#">Dolorem odio provident ut nihil</a></h5>
                                    </div>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="ion-android-star"></i></li>
                                            <li><i class="ion-android-star"></i></li>
                                            <li><i class="ion-android-star"></i></li>
                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price new-price-2">$194.00</span>
                                        <span class="old-price">$241.00</span>
                                    </div>
                                    <div class="sp-essential_stuff">
                                        <ul>
                                            <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                                            <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                                            <li>Reward Points: <a href="javascript:void(0)">100</a></li>
                                            <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                            <li>EX Tax: <a href="javascript:void(0)"><span>$453.35</span></a></li>
                                            <li>Price in reward points: <a href="javascript:void(0)">400</a></li>
                                        </ul>
                                    </div>
                                    <div class="color-list_area">
                                        <div class="color-list_heading">
                                            <h4>Available Options</h4>
                                        </div>
                                        <span class="sub-title">Color</span>
                                        <div class="color-list">
                                            <a href="javascript:void(0)" class="single-color active" data-swatch-color="red">
                                                <span class="bg-red_color"></span>
                                                <span class="color-text">Red (+$150)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="orange">
                                                <span class="burnt-orange_color"></span>
                                                <span class="color-text">Orange (+$170)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="brown">
                                                <span class="brown_color"></span>
                                                <span class="color-text">Brown (+$120)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="umber">
                                                <span class="raw-umber_color"></span>
                                                <span class="color-text">Umber (+$125)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="black">
                                                <span class="black_color"></span>
                                                <span class="color-text">Black (+$125)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="golden">
                                                <span class="golden_color"></span>
                                                <span class="color-text">Golden (+$125)</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </div>
                                    <div class="uren-group_btn">
                                        <ul>
                                            <li><a href="cart.html" class="add-to_cart">Cart To Cart</a></li>
                                            <li><a href="cart.html"><i class="ion-android-favorite-outline"></i></a></li>
                                            <li><a href="cart.html"><i class="ion-ios-shuffle-strong"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="uren-tag-line">
                                        <h6>Tags:</h6>
                                        <a href="javascript:void(0)">Ring</a>,
                                        <a href="javascript:void(0)">Necklaces</a>,
                                        <a href="javascript:void(0)">Braid</a>
                                    </div>
                                    <div class="uren-social_link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                    <i class="fab fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Modal Area End Here -->

    </div>

    <!-- JS
============================================ -->
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery JS -->
    <script src="{% static 'assets/user_side/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'assets/user_side/js/vendor/modernizr-2.8.3.min.js'%}"></script>
    <!-- Popper JS -->
    <script src="{% static 'assets/user_side/js/vendor/popper.min.js'%}"></script>
    <!-- Bootstrap JS -->
    <script src="{%static 'assets/user_side/js/vendor/bootstrap.min.js'%}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'assets/user_side/js/plugins/slick.min.js'%}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery.barrating.min.js'%}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery.counterup.js'%}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery.nice-select.js'%}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery.sticky-sidebar.js'%}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery-ui.min.js'%}"></script>
    <script src="{% static 'assets/user_side/js/plugins/jquery.ui.touch-punch.min.js'%}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'assets/user_side/js/plugins/lightgallery.min.js'%}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'assets/user_side/js/plugins/scroll-top.js'%}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'assets/user_side/js/plugins/theia-sticky-sidebar.min.js'%}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'assets/user_side/js/plugins/waypoints.min.js'%}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'assets/user_side/js/plugins/jquery.zoom.min.js'%}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="{% static 'assets/user_side/js/main.js'%}"></script>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    function updateCartCount() {
        $.getJSON("{% url 'user_side:base' %}", function(data) {
            var cartCount = data.cart_count;
            $('.item-count').text(cartCount);  // Update the cart count in the DOM
        });
    }

    // Call updateCartCount initially and whenever needed
    updateCartCount();

    // Example: Call updateCartCount again after a certain action, like clicking a button
    // $('.some-button-class').on('click', function() {
    //     updateCartCount();
    // });
});
</script>

</html>