{% extends 'user_side/base.html'%}

{% block content %}
<div style="width: 50%; margin: auto;  padding: 80px;">
  <span>Manage Address</span>
  <div class="container-sm mx-auto" style="border: 1px solid #000000;">
    
    <div style="padding: 10px;">
      <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="form-row">
          <!-- Address -->
          <div class="col-md-6 mb-3">
            <label for="validationTooltip01">House Name :</label>
            <input type="description" class="form-control" id="validationTooltip01" name="address" value={{ addy.address }} required>
            <div class="valid-tooltip"></div>
          </div>
          <!-- House_name -->
          <div class="col-md-6 mb-3">
            <label for="validationTooltip01">House Name :</label>
            <input type="text" class="form-control" id="validationTooltip01" name="house_name" value={{ addy.house_name }} required>
            <div class="valid-tooltip"></div>
          </div>
          <!-- Street -->
          <div class="col-md-6 mb-3">
            <label for="validationTooltip02">Street :</label>
            <input type="text" class="form-control" id="validationTooltip02" name="street" value={{ addy.street }} required>
            <div class="valid-tooltip"></div>
          </div>
        </div>
        <!-- City, State, Zip -->
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationTooltip03">City</label>
            <input type="text" class="form-control" id="validationTooltip03" name="city" value={{ addy.city }} placeholder="City" required>
            <div class="invalid-tooltip">Please provide a valid city.</div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationTooltip04">State</label>
            <input type="text" class="form-control" id="validationTooltip04" name="state" value={{ addy.state }} placeholder="State" required>
            <div class="invalid-tooltip">Please provide a valid state.</div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationTooltip05">Zip</label>
            <input type="number" class="form-control" id="validationTooltip05" name="zip" value={{ addy.zipcode }} placeholder="Zip" required>
            <div class="invalid-tooltip">Please provide a valid zip.</div>
          </div>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Submit form</button>
        <button class="btn btn-sm btn-danger" type="reset"><a href={% url 'user_profile:user_profile'%}>Back</a></button>
      </form>
    </div>
    
  {% endblock %}