{% extends "user_side/base.html"%}
{%block title%}Order Confirmed | Sportsio{%endblock%}
{% block content %}
<!-- Add this line in the head section of your HTML document -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
    li {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Horizontal offset, vertical offset, blur radius, and color */
        padding: 10px; /* Optional: Adds some space around the text inside the list item */
        border-radius: 5px; /* Optional: Rounds the corners of the list item */
    }
   .content-box {
        padding: 20px;
        border: 2px solid #007bff; /* Bootstrap primary color */
        border-radius: 10px; /* Rounded corners */
        background-color: #f8f9fa; /* Light background */
    }
    .centered-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px; /* Adjust based on your needs */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10"> <!-- Increased column size for a bigger container -->
            <div class="alert alert-success" role="alert">
                <i class="fas fa-check-circle"></i> ORDER CONFIRMED
            </div>
            <div class="content-box"> <!-- Content wrapped in a box -->
                <h2>Your Order Has Been Successfully Placed!</h2>
                <p>Order ID: {{ order.id }}</p>
                <ul>
                    {% for product in order_items %}
                    <div>
                    <li>{{ product.product.title }} - Quantity: {{ product.quantity }}</li>
                    </div>
                    {% endfor %}
                </ul>
                <div class="centered-text" style="background-color:#FAF9F6  " >
                    <p style="font-weight:bold; font-size:25px; color: yellow;">Thank you for shopping with us!</p>
                </div>
                    <div class="d-flex justify-content-between">
                    <a href="{%url "home" %}" class="btn btn-warning">Home</a>
                    <a href="{% url 'user_profile:user_profile' %}" class="btn btn-warning">Show Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

