{% extends "user_side/base.html"%}
{% block content %}
{% load static %}
<style>
    .product-grid-container {
        display: flex;
        flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    }
    
</style>
<!-- Begin Uren's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Products</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Products list</li>
            </ul>
        </div>
    </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->

<!-- Begin Uren's Shop List Fullwidth Area -->
<div class="shop-content_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop-toolbar">
                    {% if not advnced%}
                <form method="get" action="{% url 'user_side:sort' %}">
                    <div class="product-item-selection_area">
                        <div class="product-short">
                            <label class="select-label">Short By:</label>
                            <select class="myniceselect nice-select" name="sort_by">
                                <option value="">Default</option>
                                <option value="a-z">Name, A to Z</option>
                                <option value="z-a">Name, Z to A</option>
                                <option value="price-">Price, low to high</option>
                                <option value="price+">Price, high to low</option>
                                <option value="rating+">Rating (Highest)</option> <!-- To do rating sort-->
                                <option value="rating-">Rating (Lowest)</option>
                            </select>
                        </div>
                            <button class="btn btn-sm btn-warning" type="submit">Sort</button>
                        </div>
                        </form>
                    
                
                {% endif %}
            </div>
                <div class="shop-product-wrap grid listview listfullwidth img-hover-effect_area row">
                    <div class="product-grid-container">
                        {% for prod in product %}
                        <div class="col-lg-3">
                            <div class="product-slide_item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="{% url 'user_side:user_product_view' prod.id%}">
                                                <img class="primary-img" src="{{ prod.image.url }}" alt="Product Image">
                                            </a>
                                            <div class="sticker">
                                                <span class="sticker">New</span>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a></li>
                                                    <li><a class="uren-wishlist" href="{% url 'user_profile:wishlist'%}" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">{{ prod.title| truncatewords:3 }}</a></h6>
                                                <div class="price-box">
                                                    {% if prod.offer_price > 0 %}
                                                    <span class="old-price">Rs{{ prod.price }}</span>
                                                    <span class="new-price">Rs{{ prod.offer_price }}</span>
                                                    {% else %}
                                                    <span class="new-price">Rs{{ prod.price }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="uren-paginatoin-area">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="uren-pagination-box primary-color">
                                        <li class="active"><a href="javascript:void(0)">1</a></li>
                                        <li><a href="javascript:void(0)">2</a></li>
                                        <li><a href="javascript:void(0)">3</a></li>
                                        <li><a href="javascript:void(0)">4</a></li>
                                        <li><a href="javascript:void(0)">5</a></li>
                                        <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}