{% extends 'user_side/base.html'%}
{%block title%}Product View | Sportsio{%endblock%}
{% block content %}        
{% load humanize %}
        
    <!-- ################################ Product View Start here ##################################-->

        <!-- Begin Uren's Tab Style Right Area -->
        <div class="sp-area sp-tab-style_left sp-tab-style_right product-view product-main">
            <div class="container-fluid">
                <div class="sp-nav">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="sp-img_area">
                                <div class="sp-img_slider slick-img-slider uren-slick-slider" data-slick-options='{
                                                                    "slidesToShow": 1,
                                                                    "arrows": false,
                                                                    "fade": true,
                                                                    "draggable": false,
                                                                    "swipe": false,
                                                                    "asNavFor": ".sp-img_slider-nav"
                                                                    }'>
                                    
                                    <!-- Main Image div -->

                                    {% for image in product_images %}
                                    <div class="single-slide red zoom">
                                        <img src="{{ image.image.url }}" alt="Uren's Product Image">
                                    </div>
                                    {% endfor %}

                                    <!-- Main Image div End Here -->

                                </div>
                                <div class="sp-img_slider-nav slick-slider-nav uren-slick-slider slider-navigation_style-4" data-slick-options='{
                                                                    "slidesToShow": 3,
                                                                    "asNavFor": ".sp-img_slider",
                                                                    "focusOnSelect": true,
                                                                    "arrows" : true,
                                                                    "vertical" : true
                                                                    }'>

                                    <!-- Side Image Slide -->

                                    {% for image in product_images %}
                                    <div class="single-slide red">
                                        <img src="{{ image.image.url }}" alt="Uren's Product Thumnail">
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="sp-content">
                                <div class="sp-heading">
                                    <h5><a href="#">{{ product.title }}</a></h5>
                                </div>
                                <span class="reference">{{ product.category }}</span>
                             
                                <!-- Rating Start Here -->
                                <div class="rating-box">
                                <ul>
                                {% if product.stars == 5 %}
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <span>(5 stars)</span>
                                {% elif product.stars == 4 %}
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <span>(4 stars)</span>
                                {% elif product.stars == 3 %}
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <span>(3 stars)</span>
                                {% elif product.stars == 2 %}
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <span>(2 stars)</span>
                                {% elif product.stars == 1 %}
                                <li><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                <span>(1 star)</span>
                            {% endif %}
                                </ul>
                            </div>
                                <div class="sp-essential_stuff">
                                    <ul>
                                        <li>Brand: <a href="javascript:void(0)">{{ product.brand }}</a></li>
                                        <li>Status: <a href="javascript:void(0)">{{ product.status }}</a></li>
                                        {% if product.offer_price > 0 %}
                                        <li>Price: <a href="javascript:void(0)"><span  style="text-decoration: line-through;">Rs {{ product.price|intcomma }}</span></a></li>
                                        <li>Offer Price: <a style="font-weight: bold; font-size: x-large;" href="javascript:void(0)">₹ {{ product.offer_price|intcomma }}</a></li>
                                        {% else %}
                                        <li>Price: <a href="javascript:void(0)"><span  style="text-decoration: line-through;">₹ {{ product.price}}</span></a></li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <!-- Add to cart and  Out of stock -->

                                {% if product.stock_count > 0 %}
                                <div class="quantity">
                                    <label>Quantity</label>
                                    {% csrf_token %}
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box prod_qty" value="1" type="text">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <div class="qty-btn_area">
                                    <ul>
                                        
                                        <input  type ="hidden" value="{{ product.id }}" class="prod_id">
                                        <li><a class="uren-add_cart add_to_cart" > Add
                                            to cart</a>
                                        </li>
                                        <li><a class="uren-wishlist"  data-toggle="tooltip" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Add to cart End Here-->

                                {% else %}

                                <!-- Out of Stock Start Here -->

                                <div class="out-of-stock ">
                                    <p></p>
                                    <p style="color: red; font-size: 25px; font-weight:Bold;">Out of Stock</p>
                                    <p style="font-size: 16px; opacity:0.8;">We'll notify you when available</p>
                                    <!-- Add your notification form or link here -->
                                </div>
                                {% endif %}

                                <!-- Out Of Stock End Here-->

                                <div class="uren-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                                <i class="fab fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Tab Style Right Area End Here -->
    
  <!-- ############################################################# Product View End Here ######################################################-->     

  <!-- ############################################################# Description And Reviews Start Here ######################################################-->     

        <!-- Begin Uren's Single Product Tab Area -->

        <div class="sp-product-tab_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sp-product-tab_nav">
                            <div class="product-tab">
                                <ul class="nav product-menu">
                                    <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a>
                                    </li>
                                    <li><a data-toggle="tab" href="#reviews"><span>Reviews ({{ rating_count }})</span></a></li>
                                </ul>
                            </div>

                            <!-- Tab Start Here-->

                            <div class="tab-content uren-tab_content">

                                <!-- Description Start Here -->

                                <div id="description" class="tab-pane active show" role="tabpanel">
                                    <div class="product-description">
                                        <ul>
                                            <li>
                                                <strong>{{ product.title}}</strong>
                                                <span>{{ product.description }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- Description End Here-->
                                                               
                            <!-- Reviews Start Here -->

                                <div id="reviews" class="tab-pane" role="tabpanel">
                                    <div class="tab-pane active" id="tab-review">
                                        <form class="form-horizontal" id="form-review" action="{% url 'user_side:user_product_view' product.id %}" method="post">
                                            <!-- CSRF token is crucial for security -->
                                            {% csrf_token %}
                                            
                                            <div id="review">
                                                <!-- Example review section, remove this in production -->
                                                <table class="table table-striped table-bordered">
                                                    {% for rev in rating%}
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;"><strong>{{ rev.user }}</strong></td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                
                                                                <!-- Rating Box Start Here-->
                                                                <div class="rating-box">
                                                                    <ul>
                                                                        {% if rev.stars == 5 %}
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <span>(5 stars)</span>
                                                                            {% elif rev.stars == 4 %}
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <span>(4 stars)</span>
                                                                            {% elif rev.stars == 3 %}
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <span>(3 stars)</span>
                                                                            {% elif rev.stars == 2 %}
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <span>(2 stars)</span>
                                                                            {% elif rev.stars == 1 %}
                                                                            <li><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                            <span>(1 star)</span>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                                <!-- Rating Box End Here-->
                                                                 <br>
                                                                <p>{{rev.review}}</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        
                                            <!-- Form content starts here -->
                                            <h2>Write a review</h2>
                                            <div class="form-group required">
                                                <div class="col-sm-12 p-0">
                                                    <!-- Hidden input for product ID -->
                                                    <input type="hidden" name="prodid" value="{{ product.id }}" class="prod_id">
                                                    
                                                    <!-- Readonly input for customer's email -->
                                                    <label>Your Email <span class="required">*</span></label>
                                                    <input class="review-input" value="{{email}}" type="email" name="con_email" id="con_email" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group last-child required">
                                                <div class="col-sm-12 p-0">
                                                    <div class="your-opinion">
                                                        <label>Your Rating</label>
                                                        <span>
                                                            <!-- Star rating selection -->
                                                            <select class="star-rating" name="star-rating">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required second-child">
                                                <div class="col-sm-12 p-0">
                                                    <label class="control-label">Share your opinion</label>
                                                    <!-- Text area for review message -->
                                                    <textarea class="review-textarea" name="con_message" id="con_message"></textarea>
                                                </div>
                                            </div>
                                            
                                            <!-- Submit button -->
                                            <div class="uren-btn-ps_right">
                                                <button type="submit" class="uren-btn-2">Continue</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Single Product Tab Area End Here -->

        
<!-- ############################################################# Description And Reviews End Here ######################################################-->     


        <!-- Begin Uren's Product Area -->
        <div class="uren-product_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title_area">
                            <span></span>
                            <h3>Related Products</h3>
                        </div>
                        <div class="product-slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                        "slidesToShow": 6,
                        "arrows" : true
                        }' data-slick-responsive='[
                                                {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                                                {"breakpoint":1200, "settings": {"slidesToShow": 3}},
                                                {"breakpoint":992, "settings": {"slidesToShow": 2}},
                                                {"breakpoint":767, "settings": {"slidesToShow": 1}},
                                                {"breakpoint":480, "settings": {"slidesToShow": 1}}
                                            ]'>

                            <!-- Product Slide Area Start Here-->

                            {% for pro in related_products %}
                            <div class="product-slide_item related-products">
                                <div class="inner-slide">
                                    <div class="single-product related">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="{{ pro.image.url }}" alt="Uren's Product Image">
                                            </a>
                                            <div class="add-actions">
                                                <ul>
                                                    {% csrf_token %}
                                                     <input type ="hidden" value="{{ pro.id }}" class="prod_id">
                                                     <li><a class="uren-add_cart add_to_cart"  data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                        class="ion-bag"></i> </a>
                                                    </li>
                                                    <li><a class="uren-wishlist"  data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Veniam officiis voluptates</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price">$122.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Product Area End Here -->


        <!--######################## ADD TO CART ################-->
        <script>
            $('.add_to_cart').click(function (e){
                e.preventDefault();
                
                var product_id = $(this).closest('.product-view').find('.prod_id').val();
                var product_qty = $(this).closest('.product-view').find('.prod_qty').val(); ;
                console.log(product_qty)
                var token= $('input[name=csrfmiddlewaretoken]').val();
            
                $.ajax({
                    type: 'POST',
                    url: "{% url 'user_profile:add_to_cart'%}",
                    data:{
                        'product_id':product_id,
                        'product_qty':product_qty,
                        csrfmiddlewaretoken : token
                        
                    },
                    success: function(response) {
                        console.log(response);
                        if (response.status === "Product Added Successfully" || response.status.includes("Cart Updated Successfully")) {
                            toastr.success(response.status);
                        } 
                        else {
        
                            toastr.warning(response.status);
                           
                        }
        
                    }
                })
            
            
            })
          </script>

          
   <!-- Wishlist Scripts-->
<script>
    $(document).ready(function() {
        // Function to handle adding to wishlist
        function addToWishlist(e, productClass) {
            e.preventDefault();
            
            var product_id = $(this).closest(productClass).find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
        
            $.ajax({
                type: 'POST',
                url: "{% url 'user_profile:wishlist' %}", // Ensure the URL is correctly set up in your Django views.py
                data: {
                    'product_id': product_id,
                    csrfmiddlewaretoken: token
                },
                success: function(response) {
                    console.log(response);
                    if (response.status === "Product added to Wishlist") {
                        toastr.success(response.status);
                        // Additional client-side actions like updating the UI to reflect the change
                    } else {
                        toastr.warning(response.status);
                    }
                }
            });
        }
    
        // Attach click event handler to.uren-wishlist elements within.trending_prod and.new_arrival containers
        $('.uren-wishlist').on('click', function(e) {
            addToWishlist.call(this, e, '.product-main'); // First attempt to find within.trending_prod
        });
        $('.uren-wishlist').on('click', function(e) {
            addToWishlist.call(this, e, '.related'); // First attempt to find within.trending_prod
        });
    });
    </script>
    <!-- End Wishlist -->
        {% endblock content %}