{% extends 'user_side/base.html'%}
{% block title%}Shop Category | Sportsio{% endblock%}
{% block content%}

        <!-- Begin Uren's Shop List Left sidebar Area -->
        <div class="shop-content_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                        <div class="uren-sidebar-catagories_area">
                            <div class="category-module uren-sidebar_categories">
                                <div class="category-module_heading">
                                    <h5>Categories</h5>
                                </div>
                                <div class="module-body">
                                    <ul class="module-list_item">
                                        <li>
                                            {% for cat in  category_list %}
                                            <a href="{% url "user_side:shopbycat"%}?cat_id={{cat.id}} ">{{cat.name}}<span>({{ cat.product_count}})</span></a>
                                            {% endfor%}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                        <div class="shop-toolbar">
                            <div class="product-view-mode">
                                <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top" title="1">1</a>
                                <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                                <a class="grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                                <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                                <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                                <a class="active list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-th-list"></i></a>
                            </div>
                           
                        </div>
                        <div class="shop-product-wrap grid listview img-hover-effect_area row">
                            {% for prod in product_list %}
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{% url "user_side:user_product_view" prod.id%}">
                                                    <img class="primary-img" src="{{ prod.image.url }}" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="{{ prod.image.url}}" alt="Uren's Product Image">
                                                </a>
                                                <div class="sticker">
                                                    <span class="sticker">New</span>
                                                </div>
                                                <div class="add-actions">
                                                    <ul>
                                                        {% csrf_token %}
                                                        <li><a class="uren-add_cart"  data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                                            class="ion-bag"></i></a>
                                                        </li>
                                                        <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                            class="ion-android-favorite-outline"></i></a>
                                                        </li>
                                                      
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="rating-box">
                                                        <ul>
                                                            {% if prod.stars == 5 %}
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <span>(5 stars)</span>
                                                                {% elif prod.stars == 4 %}
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                <span>(4 stars)</span>
                                                                {% elif prod.stars == 3 %}
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                                                <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <span>(3 stars)</span>
                                                               {% elif prod.stars == 2 %}
                                                               <li><i class="ion-android-star"></i></li>
                                                               <li><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <span>(2 stars)</span>
                                                               {% elif prod.stars == 1 %}
                                                               <li><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <li class="silver-color"><i class="ion-android-star"></i></li>
                                                               <span>(1 star)</span>
                                                           {% endif %}
                                                        </ul>
                                                    </div>
                                                    <input type="hidden" class="prod_id" value="{{prod.id}}">
                                                    <h6><a class="product-name" href="{% url "user_side:user_product_view" prod.id%}">{{ prod.title}}</a></h6>
                                                    <div class="price-box">
                                                        <span><span>&#x20B9;</span><del>{{ prod.price}}</span>
                                                        <span class="new-price"><span>&#x20B9;</span> {{ prod.offer_price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-slide_item">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="{% url "user_side:user_product_view" prod.id%}">
                                                <img class="primary-img" src="{{ prod.image.url }}" alt="Uren's Product Image">
                                                <img class="secondary-img" src="{{ prod.image.url }}" alt="Uren's Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        {% if prod.stars == 5 %}
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <span>(5 stars)</span>
                                                            {% elif prod.stars == 4 %}
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <span>(4 stars)</span>
                                                            {% elif prod.stars == 3 %}
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <span>(3 stars)</span>
                                                           {% elif prod.stars == 2 %}
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <span>(2 stars)</span>
                                                           {% elif prod.stars == 1 %}
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <span>(1 star)</span>
                                                       {% endif %}
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="{% url "user_side:user_product_view" prod.id%}">{{ prod.title }}</a></h6>
                                                <div class="price-box">
                                                    <span><span>&#x20B9;</span><del>{{ prod.price}}</span>
                                                    <span class="new-price"><span>&#x20B9;</span>{{ prod.offer_price}}</span>
                                                </div>
                                                <div class="product-short_desc">
                                                    <p>{{ prod.description }}</p>
                                                </div>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    {% csrf_token %}
                                                    <input type="hidden" class="prod_id" value="{{prod.id}}">
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box primary-color">
                                                <!-- Previous Page Link -->
                                                {% if product_list.has_previous %}
                                                    <li><a href="?page={{ product_list.previous_page_number }}">&laquo; Previous</a></li>
                                                {% else %}
                                                    <li class="disabled"><a href="javascript:void(0)">&laquo; Previous</a></li>
                                                {% endif %}
                                                
                                                <!-- Page Numbers -->
                                                {% for page_num in product_list.paginator.page_range %}
                                                    {% if product_list.number == page_num %}
                                                        <li class="active"><a href="javascript:void(0)">{{ page_num }}</a></li>
                                                    {% else %}
                                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                                <!-- Next Page Link -->
                                                {% if product_list.has_next %}
                                                    <li><a class="Next" href="?page={{ product_list.next_page_number }}">Next &raquo;</a></li>
                                                {% else %}
                                                    <li class="disabled"><a href="javascript:void(0)">Next &raquo;</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Shop List Left sidebar Area End Here -->


    

<!--__________Script For Add-To-Cart And Wishlist_________-->


<script>
    $(document).ready(function() {
        // Common function to handle add to cart logic
        function addToCart(e, productClass) {
            e.preventDefault();
            
            var product_id = $(this).closest(productClass).find('.prod_id').val();
            var product_qty = 1;
            var token = $('input[name=csrfmiddlewaretoken]').val();
        
            $.ajax({
                type: 'POST',
                url: "{% url 'user_profile:add_to_cart' %}", // Ensure the URL is correctly formatted
                data: {
                    'product_id': product_id,
                    'product_qty': product_qty,
                    csrfmiddlewaretoken: token
                },
                success: function(response) {
                    console.log(response);
                    if (response.status === "Product Added Successfully" || response.status.includes("Cart Updated Successfully")) {
                        toastr.success(response.status);
                    } else {
                        toastr.warning(response.status);
                    }
                }
            });
        }
    
        // Attach click event handler to both.new_arrival and.trending_prod classes
        $('.uren-add_cart').on('click', function(e) {
            addToCart.call(this, e, '.single-product');
        });
    
    });
    </script>
    <!-- End Cart-->

   <!-- Wishlist Scripts-->
<script>
    $(document).ready(function() {
        // Function to handle adding to wishlist
        function addToWishlist(e, productClass) {
            e.preventDefault();
            
            var product_id = $(this).closest(productClass).find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
        
            $.ajax({
                type: 'POST',
                url: "{% url 'user_profile:wishlist' %}", // Ensure the URL is correctly set up in your Django views.py
                data: {
                    'product_id': product_id,
                    csrfmiddlewaretoken: token
                },
                success: function(response) {
                    console.log(response);
                    if (response.status === "Product added to Wishlist") {
                        toastr.success(response.status);
                        // Additional client-side actions like updating the UI to reflect the change
                    } else {
                        toastr.warning(response.status);
                    }
                }
            });
        }
    
        // Attach click event handler to.uren-wishlist elements within.trending_prod and.new_arrival containers
        $('.uren-wishlist').on('click', function(e) {
            addToWishlist.call(this, e, '.single-product'); // First attempt to find within.trending_prod
        });
    });
    </script>


<!-- ______________Messages Management___________________-->
{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        toastr.options = {  "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut" };
        {% autoescape on %}
            {% for msg in messages %}
                toastr.{{ msg.level_tag }}("{{ msg }}");
            {% endfor %}
        {% endautoescape %}
    });
</script>
{% endif %}    
{% endblock%}