<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/register/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="{% static 'assets/user_side/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-14 col-md-16 form-container">
        <div class="col-lg-4 col-md-12 col-sm-9 col-xs-14 form-box text-center">
            <div class="logo mb-2">
                <img src="{% static 'assets/admin_side/images/logos/dark-logo.png' %}" width="150px">
            </div>
            <div class="reset-form d-block">
                <form action="{% url 'reset_password' %}" method="POST">
                    {% csrf_token %}
                    <h4 class="mb-3">Reset your password</h4>
                    <p class="mb-3 text-white">Please enter your new password</p>
                    <div class="form-input">
                        <span><i class="fa fa-lock"></i></span>
                        <input type="password" name="new_password" placeholder="New Password" required>
                    </div>
                    <div class="form-input mt-3">
                        <span><i class="fa fa-lock"></i></span>
                        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <button class="btn" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        toastr.options = { "closeButton": false, "debug": false, "newestOnTop": true,
            "progressBar": true, "positionClass": "toast-top-right", "preventDuplicates": true,
            "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000",
            "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
            "showMethod": "fadeIn", "hideMethod": "fadeOut" };
        {% autoescape on %}
            {% for msg in messages %}
                toastr.{{ msg.level_tag }}("{{ msg }}");
            {% endfor %}
        {% endautoescape %}
    });
</script>
{% endif %}